/* Reuse Component */
.primary-heading {
  font-size: clamp(2rem, 5vw, 3.5rem);
  max-width: 600px;
}
#p-one-text {
  font-size: 1rem;
  /* max-width: 500px; */
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
#p-two-text {
  font-size: 1rem;
}
.secondary-heading {
  text-align: start;
  font-size: 2rem;
  margin-bottom: 2rem;
}
#p-three-text {
  font-size: small;
}
.primary-button {
  width: fit-content ;
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.secondary-button {
  width: fit-content ;
  padding: 0.9rem 1.75rem;
  background-color: #ffbe55;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.secondary-button a {
  text-decoration: none
}
.secondary-button:hover {
  background-color: #e48f0f;
}
.additional-button {
  width: fit-content ;
  padding: 0.9rem 1.75rem;
  background-color: #84b3ff;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.additional-button a {
  text-decoration: none
}
.additional-button:hover {
  background-color: #467fdc;
}
.button-container {
  display: flex;
  position: relative;
  gap: 1rem;
}

/* Page setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif !important;
  color: #223e4a;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  padding-top: 60px;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #9bc4c6;
}
p {
  line-height: 1.7rem;
}
/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  position: fixed;  
  top: 0;          
  left: 0;       
  width: 100%;
  background-color: #9bc4c6;
  z-index: 1000;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-logo-container img {
  height: 50px;
}

.navbar-links-container {
  display: flex;
  gap: 15px;
}

.link-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.link-button:hover {
  color:#ffffff;
}

.navbar-menu-container {
  display: none;
  cursor: pointer;
}

/* Home */
.home-banner-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem;
}

.home-left-bg-banner-container {
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: -2;
  max-width: 50%;
  width: 50vw;
}

.home-left-bg-banner-sparkle-container {
  position: absolute;
  top: 0px;
  left: 40vw;
  z-index: -2;
  max-width: 10%;
  width: 10vw;
}

.home-left-banner-image-section {
  width: 50vw;
  /* flex: 1; */
  padding-left: 2rem;
}

.home-left-banner-image-section img {
  max-width: 100%;
  height: auto;
}

.home-text-container {
  flex: 1;
  padding-left: 3rem;
  padding-right: 2rem;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

/* About */
.about-container {
  background-color: #f9f9f9;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-wrap: wrap;
  gap: 3rem;
}
.education-section {
  flex: 1 1 10rem;
}
.education-timeline {
  width: 100%;
  position: relative;
}
.timeline-item {
  min-width: 5rem;
  display: flex;
  margin-bottom: 2rem;
}
.timeline-year {
  font-weight: bold;
  color: #223e4a;
  font-size: 1.2rem;
  min-width: 150px;
}
.timeline-content {
  background-color: #9bc4c6;
  padding: 0.7rem 2rem;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 20rem;
}
.timeline-degree {
  font-size: 1.2rem;
  margin: 0 0 5px 0;
  color: #ffffff;
}
.timeline-institution {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  color: #ffffff;
}

.language-section {
  margin-top: 2rem;
  height: fit-content;
  background-color: #cddee0;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width:fit-content ;
}
.language-container {
  align-items: center;
  background-color: #ffffff;
  padding: 0.7rem 2rem;
  margin: 2rem 0rem;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.one-language-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
}
.language-flag-image {
  max-height: 2rem;
}
.language-proficiency-container {
  padding-left: 1rem;
}

/* Skill */
.skill-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100%;
  gap: 3rem;
  padding-block: 3rem;
}
.software-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
.software-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}
.one-software-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  margin: 0.5rem;
}
.logo-img {
  width: 100%;
  max-width: 4rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}
.one-software-container p {
  text-align: center;
  font-size: small;
  word-wrap: break-word;
  line-height: 1.2rem;
}
.program-container {
  justify-content: center;
  padding-inline: 2rem;
  gap: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.one-program-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  background-color: white;
}
.uxui-skill-section {
  background-color: #f9f9f9;
  position: relative;
  gap: 5rem;
  display: flex;
  align-items: center;
  padding: 3rem 5rem;
}
.uxui-skill-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
  align-items: center;
}
.all-uxui-skill-container {
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  font-size: large;
}
.uxui-right-image {
  position: relative;
  width: 40%;
}

/* Work Experience */
.work-experience-section {
  width: 100%;
  padding-inline: 5rem;
  padding-block: 3rem;
  background-color: #f9f9f9;
}
.work-experience-conatiner {
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left Section: Work Cards */
.company-card {
  flex-basis: 20%;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.company-name {
  font-size: 18px;
  color: #00bbff;
  font-weight: bold;
}
.work-period {
  font-size: 14px;
  color: #00bbff;
}

/* Right Section: Work Cards */
.work-card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 10rem;
  flex-basis: 80%;
}
.work-card {
  background-color: #cddee0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 12px;
  color: white;
  width: 22%;
  display: flex;
  flex-direction: column;
}
.work-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.work-card p {
  font-size: 14px;
}

/* Project */
.project-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f9f9f9;
}
.project-one {
  gap: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  background-color: #cddee0;
}
.project-two {
  padding-left: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.project-img-frame {
  width: 50%;
  height: 28rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-right: 3rem;
}
.project-two img {
  width: 80%;
}

.project-left-img-frame {
  width: 50%;
  height: 28rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
}
.project-left-img-frame img {
  width: 80%;
}
.project-name {
  font-size: 4rem;
}
#project-description{
  text-align: justify;
  word-wrap: break-word;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.project-text-container {
  width: 50%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .project-right-text-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
} */
.project-text-container-inner{
  width: 100%;
  left: 0%;
  padding-right: 8rem;
}
.project-two-text-container-inner{
  width: 100%;
  left: 0%;
  padding-right: 6rem;
}

/* Project */
.activity-section {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  padding-block: 3rem;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
}
.certificate-section {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  gap: 3rem;
  align-items: center;
  background-color: #cddee0;
}
.horizontal-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.card {
  background-color: white;
  width: 13rem;
  height: 18rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.card:hover .overlay {
  opacity: 1;
}

.card.clicked .overlay {
  opacity: 1;
}
.card1 {
  background-color: white;
  width: 15rem;
  height: 18rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img-frame {
  width: 100%;
  height: 50rem;
  overflow: hidden;
  position: relative;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.description {
  font-size: 14px;
  color: white;
}
.card:hover {
  transform: scale(1.05);
}
.card-text h4 {
  margin: 10px 0;
  text-align: center;
}
.card-text {
  height: 15rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

/* Footer Styling */
.footer {
  background-color:#9bc4c6;
  color: #fff;
  padding: 3rem 1rem;
  text-align: center;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-section {
  flex: 1;
  min-width: 250px;
}
.footer-section h2, .footer-section h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

@media (max-width: 1000px) {

  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: block;
  }

  /* Home */
  .home-banner-container {
    padding-inline: 4rem;
    height:fit-content;
    flex-direction: column-reverse;
  }
  
  .home-left-bg-banner-container {
    display: none;
  }
  
  .home-left-bg-banner-sparkle-container {
    display: none;
  }
  
  .home-left-banner-image-section {
    width: 100%;
    height: 75vh;
    margin-top: -150px;
    padding-left: 0rem;
  }
  
  .home-left-banner-image-section img {
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
  }
  .home-text-container {
    width: 100%;
    position: relative;
    padding-block: 3rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  /* About */
  .about-container {
    gap: 0rem;
  }
  .education-section {
    padding-inline: 2rem;
  }
  .education-timeline {
    flex: 1 1 10rem;
  }
  .timeline-item {
    flex: 1 1 10rem;
    margin-bottom: 2rem;
    flex-wrap: wrap
  }
  .timeline-content {
    min-width: 200px;
  }
  .timeline-year {
    margin-bottom: 20px;
  }
  .language-section {
    margin-inline: 2rem;
    flex: 1 1 10rem;
  }

  .software-section {
    position: relative;
    padding-inline: 3rem;
    align-items: center;
  }

  .software-container {
    justify-content: center;
  }

  .one-software-container {
    width: 4rem;
    margin-bottom: 1rem;
  }
  .logo-img {
    max-width: 3rem;
  }
  .uxui-skill-section {
    flex-wrap: wrap;
    gap: 0rem;
    padding: 3rem 4rem;
  }
  .uxui-skill-container {
    gap: 1rem;
    flex-wrap: wrap;
  }
  .all-uxui-skill-container {
    flex-direction:row;
    flex-wrap: wrap;
  }
  .all-uxui-skill-container li {
    background-color: #cddee0;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    list-style-type: none;
  }
  .uxui-right-image {
    align-items: center;
    width: 100%;
  }

  .work-experience-section {
    padding-inline: 4rem;
  }

  .work-experience-conatiner {
    flex-wrap: wrap;
  }
  .one-program-container {
    height: 7rem;
  }
  
  /* Left Section: Work Cards */
  .company-card {
    flex-basis: 100%;
    padding: 20px 0px;
    flex-direction: row;
    align-items: center;
  }
  .company-name {
    color:#223e4a;
  }
  .work-period {
    color: #223e4a;
  }
  .company-logo {
    display: none;
  }
  /* Right Section: Work Cards */
  .work-card-container {
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  .work-card {
    width:100%;
  }
  /* Project */
  .project-one {
    flex-wrap: wrap;
    gap: 0rem;
    padding: 3rem 4rem;
  }
  .project-two {
    flex-wrap:wrap-reverse;
    gap: 0rem;
    padding: 3rem 4rem;
  }
  .project-two img {
    width: 100%;
  }

  .project-img-frame {
    width: 100%;
    height:fit-content;
    padding-right: 0rem;
  }
  .project-left-img-frame {
    width: 100%;
    height:fit-content;
    padding-left: 0rem;
  }
  .project-left-img-frame img {
    width: 100%;
  }
  .project-name {
    font-size: 2rem;
  }
  .project-description{
    width: 100%;
    text-align: left;
  }
  .project-text-container {
    width: 100%;
  }
  .project-text-container-inner, .project-two-text-container-inner {
    padding-right: 0rem;
  }
  .card {
    width: 15rem;
  }
  .activity-section {
    padding-inline: 4rem;
  }
  .certificate-section {
    padding: 3rem 4rem;
  }
}