/* Reuse Component */
.primary-heading {
  font-size: clamp(2rem, 5vw, 3.5rem);
  max-width: 600px;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.2rem);
  max-width: 500px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.secondary-heading {
  text-align: start;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.primary-button {
  width: fit-content ;
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.secondary-button {
  width: fit-content ;
  padding: 0.9rem 1.75rem;
  background-color: #ffbe55;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.secondary-button a {
  text-decoration: none
}
.secondary-button:hover {
  background-color: #e48f0f;
}
.additional-button {
  width: fit-content ;
  padding: 0.9rem 1.75rem;
  background-color: #84b3ff;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.additional-button a {
  text-decoration: none
}
.additional-button:hover {
  background-color: #467fdc;
}

/* Page setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: #223e4a;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  padding-top: 80px;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #9bc4c6;
}
p {
  line-height: 1.7rem;
}

/* navigation bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 1rem 3rem; */
  min-height: 80px;
  position: fixed;  
  top: 0;          
  left: 0;       
  width: 100%;
  background-color: #9bc4c6;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  */
  z-index: 1000;
}
.nav-logo-container {
  max-width: 200px;
  padding-left: 3rem;
}
.navbar-menu-container {
  display: none;
}
.navbar-links-container button {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Home */
.home-banner-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap; /* Allow the content to wrap on smaller screens */
}

.home-left-bg-banner-container {
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: -2;
  max-width: 50%; /* Change from px to % */
  width: 50vw;    /* Adjust width based on viewport */
}

.home-left-bg-banner-sparkle-container {
  position: absolute;
  top: 0px;
  left: 40vw;     /* Adjust position based on viewport width */
  z-index: -2;
  max-width: 10%; /* Make sure sparkle scales based on screen width */
  width: 10vw;
}

.home-left-banner-image-section {
  width: 50vw;
  flex: 1;
  padding-left: 2rem;
}

.home-left-banner-image-section img {
  max-width: 100%;
  height: auto;
}

.home-text-container {
  flex: 1;
  padding-left: 3rem;
  padding-right: 2rem;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
/* .secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

/* About */
.about-container {
  background-color: #f9f9f9;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-wrap: wrap;
  gap: 3rem;
}
.education-section {
  flex: 1 1 10rem; /* Flex grow, shrink, and base width */
  /* padding-left: 2rem; */
  /* padding-right: 5rem; */
}
.education-timeline {
  /* padding-left: 4px; */
  width: 100%;
  position: relative;
}
.timeline-item {
  min-width: 5rem;
  display: flex;
  margin-bottom: 2rem;
  /* flex-wrap: wrap; */
}
.timeline-year {
  font-weight: bold;
  /* margin-right: 2rem; */
  color: #223e4a;
  font-size: 1.2rem;
  min-width: 150px;
}
.timeline-content {
  background-color: #9bc4c6;
  padding: 0.7rem 2rem;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 20rem; /* Flex grow, shrink, and base width */
}
.timeline-degree {
  font-size: 1.2rem;
  margin: 0 0 5px 0;
  color: #ffffff;
}
.timeline-institution {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  color: #ffffff;
}

.language-section {
  margin-top: 2rem;
  height: fit-content;
  background-color: #cddee0;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width:fit-content ;
}
.language-container {
  align-items: center;
  background-color: #ffffff;
  padding: 0.7rem 2rem;
  margin: 2rem 0rem;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.one-language-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
}
.language-flag-image {
  max-height: 2rem;
}
.language-proficiency-container {
  padding-left: 1rem;
}

/* Skill */
.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 3rem;
  padding-block: 3rem;
}
.software-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
.software-container {
  display: flex;
  flex-wrap: wrap; /* Allow the items to wrap when the space is not enough */
  /* justify-content: space-between; */
  gap: 1rem; /* Space between the items */
  margin-top: 2rem;
}
.one-software-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  margin: 0.5rem;
}
.logo-img {
  width: 100%; /* Make the image responsive to the parent width */
  max-width: 4rem; /* Set a max width to ensure it doesn't become too large */
  border-radius: 20px;
  margin-bottom: 1rem;
}
.one-software-container p {
  text-align: center;
  font-size: small;
  word-wrap: break-word; /* Break words if they’re too long */
  line-height: 1.2rem;
}

/* .programming-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-inline: 3rem;
} */
.program-container {
  display: flex;
  flex-wrap: wrap; /* This allows the boxes to wrap to a new line when necessary */
  gap: 2rem;
  justify-content: center; /* Center the items horizontally */
  padding: 3rem;
}
.one-program-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 10px;

  background-color: white;
}
.uxui-skill-section {
  background-color: #f9f9f9;
  position: relative;
  gap: 5rem;
  display: flex;
  align-items: center;
  padding: 3rem 5rem;
}
.uxui-skill-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
  align-items: center;
}
.all-uxui-skill-container {
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  font-size: large;
}
.uxui-right-image {
  position: relative;
  /* top: 0px;
  right: 2rem; */
  width: 40%;
}

/* Work Experience */
.work-experience-section {
  width: 100%;
  padding-inline: 5rem;
  padding-block: 3rem;
  background-color: #f9f9f9;
}
.work-experience-conatiner {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Wrapper for each work experience section */
/* .workExperience-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 8px;
  width: 100%;
} */

/* Left Section: Work Cards */
.company-card {
  flex-basis: 20%;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  /* margin-bottom: 10px; */
}
.company-name {
  font-size: 18px;
  color: #00bbff;
  font-weight: bold;
  /* margin-bottom: 5px; */
}
.work-period {
  font-size: 14px;
  color: #00bbff;
}

/* Right Section: Work Cards */
.work-card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 10rem;
  flex-basis: 80%;
}
.work-card {
  background-color: #cddee0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 12px;
  color: white;
  width: 22%;
  display: flex;
  flex-direction: column;
}
.work-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.work-card p {
  font-size: 14px;
}

/* Project */
.project-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding-block: 5rem 0rem; */
  background-color: #f9f9f9;
}
.project-one {
  gap: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  background-color: #cddee0;
}
.project-two {
  /* padding-inline: 8rem 5rem; */
  padding-left: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.project-img-frame {
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.project-two img {
  /* height: 100%;
  width: 50%; */
  object-fit: cover;
  display: flex;
  justify-content: end;
}
.button-container {
  display: flex;
  gap: 1rem;
}

.project-left-img-frame {
  width: 50%;
  height: 28rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
}
.project-left-img-frame img {
  width: 80%;
}
.project-name {
  font-size: 4rem;
}
.project-description{
  text-align: justify;
  width: 26rem;
  word-wrap: break-word;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.project-text-container {
  width: 50%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-right-text-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items:baseline;
}
.project-text-container-inner{
  left: 0%;
  padding-right: 8rem;
}

/* Project */
.activity-section {
  display: flex;
  flex-direction: column;
  padding-inline: 3rem;
  padding-block: 3rem;
  gap: 3rem;
  align-items: center;
  background-color: #f9f9f9;
}
.certificate-section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 3rem;
  align-items: center;
  background-color: #cddee0;
}
.horizontal-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.card {
  background-color: white;
  width: 13rem;
  height: 18rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card1 {
  background-color: white;
  width: 15rem;
  height: 18rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img-frame {
  width: 100%;
  height: 50rem;
  overflow: hidden;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-text {
  height: 15rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

/* Footer Styling */
.footer {
  background-color:#9bc4c6;
  color: #fff;
  padding: 3rem 1rem;
  text-align: center;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-section {
  flex: 1;
  min-width: 250px;
}
.footer-section h2, .footer-section h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
/*.footer-section ul {
  list-style-type: none;
  padding: 0;
}
.footer-section ul li {
  margin: 0.5rem 0;
}
 .footer-section ul li a {
  text-decoration: none;
  transition: color 0.3s;
}
.footer-section ul li a:hover {
  color: #1e90ff; 
} 
 .social-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.social-icons a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}
.social-icons a img:hover {
  transform: scale(1.1);
}
.footer-bottom {
  margin-top: 2rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
}
.footer-bottom p {
  font-size: 0.9rem;
} */
 /* When the screen is smaller than 768px (tablet and smaller), adjust the layout */

@media (max-width: 768px) {
  .home-banner-container {
    height:fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .home-left-bg-banner-container {
    display: none;
  }
  
  .home-left-bg-banner-sparkle-container {
    display: none;
  }
  
  .home-left-banner-image-section {
    width: 100%;
    margin-top: -150px;
  }
  
  .home-left-banner-image-section img {
    width: 100%;
    overflow: hidden;
    height: 450px;
    object-fit: cover;
    object-position: 0% 0%;
    margin-left: -10px;
  }
  .home-text-container {
    width: 100%;
    position: relative;
    flex: 2;
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }

  /* About */
  .about-container {
    gap: 0rem;
  }
  .education-section {
    flex: 1 1 10rem; /* Flex grow, shrink, and base width */
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .education-timeline {
    /* padding-left: 4px; */
    flex: 1 1 10rem;
  }
  .timeline-item {
    flex: 1 1 10rem;
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap
  }
  .timeline-content {
    min-width: 200px;
  }
  .timeline-year {
    font-weight: bold;
    /* margin-right: 2rem; */
    color: #223e4a;
    font-size: 1.2rem;
    min-width: 150px;
  }
  .timeline-year {
    margin-bottom: 20px;
  }
  .language-section {
    margin-inline: 2rem;
    flex: 1 1 10rem;
    height: fit-content;
    background-color: #cddee0;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width:fit-content ;
  }
  .language-container {
    align-items: center;
    background-color: #ffffff;
    padding: 0.7rem 2rem;
    margin: 2rem 0rem;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .one-language-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
  }
  .language-flag-image {
    max-height: 2rem;
  }
  .language-proficiency-container {
    padding-left: 1rem;
  }
  .software-section {
    position: relative;
    padding-inline: 3rem;
    align-items: center;
  }

  .software-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/* Center the items, or you can use flex-start */
    gap: 1px; /* Set a fixed gap to prevent stretching */
    margin-top: 2rem;
  }

  .one-software-container {
    width: 4rem; /* Set width to 25% minus the gap */
    margin-bottom: 1rem; /* Ensure the bottom margin creates even spacing between lines */
  }
  .logo-img {
    width: 100%;
    max-width: 3rem;
  }
  .uxui-skill-section {
    background-color: #f9f9f9;
    flex-wrap: wrap;
    position: relative;
    gap: 0rem;
    display: flex;
    align-items: center;
    padding: 3rem 4rem;
  }
  .uxui-skill-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .all-uxui-skill-container {
    position: relative;
    display: flex;
    align-items: start;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: large;
  }
  .all-uxui-skill-container li {
    background-color: #cddee0;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    list-style-type: none;
  }
  .uxui-right-image {
    position: relative;
    align-items: center;
    width: 100%;
  }

  .work-experience-section {
    width: 100%;
    padding-inline: 4rem;
    padding-block: 3rem;
    background-color: #f9f9f9;
  }

  .work-experience-conatiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .program-container {
    padding-inline: 4rem;
    gap: 3rem;
  }
  
  /* Left Section: Work Cards */
  .company-card {
    flex-basis: 100%;
    padding: 20px 0px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .company-logo {
    display: none;
  }
  /* Right Section: Work Cards */
  .work-card-container {
    flex-wrap: wrap;
    gap: 20px;
    flex-basis: 100%;
  }
  .work-card {
    width:100%;
  }
  /* Project */
.project-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding-block: 5rem 0rem; */
  background-color: #f9f9f9;
}
.project-one {
  flex-wrap: wrap;
  gap: 0rem;
  padding-block: 3rem;
  padding-inline: 4rem;
}
.project-two {
  padding-inline: 4rem;
  padding-block: 3rem 0rem;
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
}
.project-two img {
  object-fit: cover;
  height:fit-content;
  display: flex;
  justify-content: end;
}
.button-container {
  display: flex;
  gap: 1rem;
}
.project-img-frame {
  width: 100%;
  height: 20rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-left: 0rem;
}
.project-left-img-frame {
  width: 100%;
  height:fit-content;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-left: 0rem;
}
.project-left-img-frame img {
  width: 100%;
}
.project-name {
  font-size: 2rem;
}
.project-description{
  word-wrap: break-word;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  width: 100%;
}
.project-text-container {
  width: 100%;
}
.project-text-container-inner{
  padding-right: 0rem;
}
}